.gallery{
    padding: 10px;
    float: left;
    margin: 8px auto 8px auto;
    margin-left: 2%;
}
.g{
  height: 200px;
  width: auto;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

figcaption{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


  .clear {
  clear: both;
  float: none;
  width: 100%;
}

/* line 22, ../sass/demo.scss */
.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.row {
  margin: 15px;
}