<nav class="navbar sticky-xl-top navbar-expand-xxl bg-warning navbar-light" style="padding: 20px">
  <a class="navbar-brand" href="#">Records</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'athletics' %}">Athletics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'badminton' %}">Badminton</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'basketball' %}">Basketball</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'carrom' %}">Carrom</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'chess' %}">Chess</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'cricket' %}">Cricket</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'football' %}">Football</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'kabaddi' %}">Kabaddi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'khokho' %}">Kho-Kho</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'powerlifting' %}">Powerlifting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'table-tennis' %}">Table-Tennis</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'volleyball' %}">Volleyball</a>
  </li>
</ul>
  </div>
</nav>

